

	Hello <%= name %>! 
	What is your age? 

<form method = "post" action = "/age">
		<input type = "text" name = "auser_name" value = <%= name %>>
		<input type = "number" name = "user_age">
		<input type = "submit">
</form>