

	Hello CRW! how are you*******************************   ***** ***** **** *** <<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> ************ ********** *********** ********** ************ *********

	<form method = "post" action = "/uname">
		<input type = "number" name = "auser_name">
		<input type = "submit">
	</form>

