favorite number <%= name %> 

************   ***** ***** **** *** <<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> ************ ********** *********** ********** ************ *********

	<form method = "post" action = "/fav">
	
		
		<input type = "number" name = "fav_one">
		<input type = "number" name = "fav_two">
		<input type = "number" name = "fav_three">
		<input type = "text" name = "auser_name" value = <%= name %> hidden>
		<input type = "number" name = "age" value = <%= age %> hidden>	
		<input type = "submit">
	</form>