

	Hello CRW! how are you*******************************   ***** ***** **** *** <<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> ************ ********** *********** ********** ************ *********

	<form method = "post" action = "/name">
		<input type = "text" name = "auser_name">
		<input type = "submit">
	</form>

